// ----- font impot ------ //
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700|Work+Sans:400,600';

// ----- font variables ----- //
$headingFont: 'Work Sans', 'helvetica', sans-serif;
$bodyFont: 'Lato', 'helvetica', sans-serif;

// ----- client colors ----- //
$rock: #513531;
$pistachio: #90C26D;
$flamingo: #EF6550;
$bianca: #F7EDE1;
